.jiqiao{
    margin: 0 10px;
}
/* a{text-decoration: none;} */
.jiqiao a,.jiqiao div{
    display: block;
    margin-top: 25px;
    position: relative;
    height: 60px;
    padding-left: 70px;
}
.jiqiao a h3,.jiqiao div h3{
    color: #000;
    font: inherit;
}
.jiqiao a .s1,.jiqiao div .s1{
    font-size: 12px;
    color: #aaa;
    position: absolute;
    bottom: 0;
}
.jiqiao a .s2,.jiqiao div .s2{
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}